footer{
  height: 120px;
  background-color: #323232;
  color: rgba(255, 255, 255, 0.651);
  font-family: var(--mainfont);
  font-size: 17px;
}
footer div{
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}
footer a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.651);
}
.footer{
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width:420px) and (min-width:320px) {
  footer div{
    /* flex-direction: column; */
    align-items: center;
    padding-top: 20px;
  }
  footer{
    height: 90px;
    font-size: 16px;
  }
  footer a{
    margin-bottom: 5px;
  }
}